<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./components/common',{btns: true}) %>
    <div class="categories-control-tab">
      <form action="/new-category" method="GET">
        <button>Add Category</button>
      </form>
    </div>
    <div class="categories-container">
      <% if(categories.length > 0){ %> <% categories.map(c=>{ %>
      <div class="category">
        <div onclick="goToLink('<%= c.cat_name %>')"><%= c.cat_name %></div>
        <% if(c.cat_img){%>
        <img
          onclick="goToLink('<%= c.cat_name %>')"
          class="category-img"
          src="<%= c.cat_img %>"
          alt="<%= c.cat_name %>"
        />
        <form action="/category/<%=c.cat_name%>/delete" method="POST">
          <button
            class="btn-category-delete"
            onclick="return confirm('if you delete this category, all the items in this category will be deleted')"
          >
            Delete
          </button>
        </form>
        <% } %>
      </div>
      <% }) }%>
    </div>
  </body>
</html>

<script>
  function goToLink(link) {
    window.location.href = `/category/${link}`;
  }
</script>
